.controller {
  background-color: #f0f0f0;
  overflow: hidden;
}

.controller-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ccc;
  border-bottom: 1px solid #aaa;
}

.controller-options input[type="radio"] {
  display: none;
}

.controller-options div {
  display: flex;
  margin: 0;
  padding: 0;
}

.controller-options label span {
  display: block;
  padding: 8px 24px;
  background-color: #ccc;
  color: black;
  font-size: 1rem;
  cursor: pointer;

}

.controller-options label span:hover, .controller-options input[type="radio"]:checked + span {
  background-color: #aaa;
}
