.controller {
  background-color: #f0f0f0;
  overflow: scroll;
}

.controller-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10px 0;
}

.controller-options > div:last-child > button {
  margin-left: 5px;
}
