.controller {
  background-color: #f0f0f0;
  overflow: scroll;
}

.controller-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 10px 10px;
}

.controller-options input[type="radio"] {
  display: none;
}

.controller-options input[type="radio"]:checked + span {
  font-weight: bold;
}

.controller-options label {
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 5px 15px 7px;
  border-radius: 7px;
  font-size: 1rem;
  cursor: pointer;
}

.controller-options > div:last-child > label {
  margin-left: 5px;
}
