.typo-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  border-bottom: 1px solid white;
}

.typo-header > h1 {
  margin-right: 50px;
  font-size: 2.75rem;
}

.typo-header > h1 > span {
  margin-left: 30px;
  font-size: 1rem;
  font-weight: 300;
}

.typo-header .options {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 32px;
  padding: 0;
  margin: 0;
}

.typo-header .settings {
  background-color: black;
  border: 1px solid white;
  color: white;
  padding: 5px 15px;
  border-radius: 7px;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 5px;
}


.dialog {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 9;
}
.dialog > span {
  font-size: 2rem;
}

.dialog > div {
  width: 50vw;
  display: flex;
  flex-direction: column;
  background-color: rgba(255,255,255,0.1);
  padding: 10px 30px;
  border: 1px solid rgb(255,255,255);
}


.dialog div label {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.dialog div label span {
  flex: 1;
}

.dialog div label input {
  flex: 2;
}

.dialog div label textarea {
  flex: 2;
  height: 120px;
}
