.typo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #282c34;
}

.typo.copy {
  z-index: 2;
}

.typo > span.title {
  position: absolute;
  top: 10px;
  left: 5px;
  writing-mode: tb-rl;
  text-transform: uppercase;
  font-size: 0.75rem;
}

.typo.copy > span.title {
  width: 15px;
  sbottom: 10px;
  right: 5px;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}

.typo > div.content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
