@font-face {
  font-family: "julietta-messie-ooer";
  src: url("./fonts/julietta-messie-ooer.woff2") format("woff2"),
    url("./fonts/julietta-messie-ooer.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.App {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px 300px auto;
  grid-template-areas: "header header" "typo typo" "left right";
  grid-gap: 2px;
}

.typo-header {
  grid-area: header;
}

.typo-splitscreen {
  position: relative;
  grid-area: typo;
  overflow: hidden;
}

.dividerMouseArea {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.divider {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 4;
  width: 20px;
  display: flex;
  background: linear-gradient(
    to right,
    transparent,
    transparent 8px,
    black 8px,
    white 9px,
    white 11px,
    black 11px,
    transparent 12px
  );
  align-items: center;
}

.handle {
  width: 16px;
  border: 2px solid black;
  height: 40px;
  border-radius: 10px;
  background-color: white;
}
